@font-face {
  font-family: 'Roboto-light';
  src:  url('fonts/roboto-light-webfont.woff2') format('woff2'),
        url('fonts/roboto-light-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Bergamot-Ornaments';
  src:  url('fonts/bergamot_ornaments-webfont.woff2') format('woff2'),
        url('fonts/bergamot_ornaments-webfont.woff') format('woff');
}


/****************************************************************************************************************************************
***** Global
****************************************************************************************************************************************/

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body { 
  font: normal 18px Roboto-Light, arial, sans-serif;
}

p { 
  line-height: 1.7em;
}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 { 
  margin: 0;
  padding:0;
}

h2 { 
    font-size:1.3em;
    font-weight:normal
}

h3 { 
  font-size:1.3em;
    font-weight:normal
}

h4, h5, h6
{ 
    font-size:1.3em;
    font-weight:normal
}

h5, h6 { 
    font-size:1.3em;
    font-weight:normal
}

h6 { 
    font-size:1.3em;
    font-weight:normal
}

ul { 
    margin: 0;
    padding:0;
    list-style:none;
}

li { 
    margin: 0;
    padding:0;
}

ol { 
    margin: 0;
    padding:0;
}



/****************************************************************************************************************************************
***** Common
****************************************************************************************************************************************/

.clearBoth {
    clear:both;
}

.floatLeft{
    float:left;
}

.floatRight{
    float:right;
}

.overflow-auto {
    overflow:auto;
}

/******************************************************************************************************************************************
*** Master
******************************************************************************************************************************************/

.site-header {
    height:450px;
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 25px
}

/******************************************************************************************************************************************
*** Top Navigation Menu
******************************************************************************************************************************************/
.navigation-container {
    overflow: hidden;
    margin: 15px 0 0 0;
    font-size: 20px;
    font-weight:bolder;  
}

.nav-item {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
}

.navigation-container a:hover, .dropdown:hover .dropbtn {
    color: #784631;
    text-decoration: none;
}

.dropdown a:hover {
    color:black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    padding:5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

div.dropdown-content a {
    float: none;
    color: black;
    padding: 0 20px 0 10px;
    text-decoration: none;
    text-align: left;
    background-color: #fff;
}

.dropdown-content a:hover {
    background-color: #fff;
    color:darkorange;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/******************************************************************************************************************************************
*** Home page containers
******************************************************************************************************************************************/

.home-bergamot1 {
    text-align:center;
    font-family:Bergamot-Ornaments;
    font-size: 60px;
}

.home-intro {
    text-align:center; 
    margin:0;
}

.marginL20{
    margin-left:20px;
}

.marginB30{
    margin-bottom:30px;
}

.marginT30{
    margin-top:30px;
}

.home-container, .image-container {
    width:440px;  
}

.home-container-full {
    width:900px;
}

.home-container-heading {
    background: #AE9D83; 
    border-radius: 25px 25px 0 0;
    padding: 5px;  
}

.home-container div.home-container-bottom, .home-container-full div.home-container-bottom {
    border:2px solid #AE9D83;
    background-color: #FFF9F4;
    padding:10px;  
}

.home-container-bottom {
    border-radius:  0 0 25px 25px; 
}

.home-container h2, .home-container-full h2 {
    padding:10px;
    margin:0;
    color:#fff
}

.home-container p, home-container-full p {
    padding:0;  
}

.home-carousel {
    width:900px;
    height:300px;
    float:left
}

.home-blog-item {
    overflow:auto;
    width:45%;
    padding:0 20px 0 0;
    float:left;
}

.home-blog-item h2 {
    margin:0;
    padding:0;
}

.image-container-heading {
    border-radius: 25px 25px 0 0;
    background: #333;
    padding: 5px; 
}

.image-container h2, .image-container-right h2, .home-blog h2 {
    
}

/*.image-container-heading h2 {
    font-size:23px;
    padding:0 0 0 10px;
    margin:0;
    color:#fff
}*/

.image-container-right {
    width:410px;
    margin: 0 0 0 20px
}

.home-recent-blogs {
    padding: 10px 10px 10px 0;
}

/******************************************************************************************************************************************
*** Certificates
******************************************************************************************************************************************/

.certificates {
    
}

.section-desc {
    padding: 0 ;
    margin:10px 10px 10px 0;
    overflow:auto;
}

.section-desc hr {
    margin: 30px 0 30px 0;
}

/*.cert-section-desc {
    padding: 0 20px 0 0;
    float:left;
    overflow:auto;
}*/

.cert-section-desc h2 {
    margin:0;
    padding:0;
}

.cert-section-carousel {
    float:left;
    width:400px;
}

/*
.cert-carousel-slides {
    cursor: move; 
    position: absolute; 
    overflow: hidden; 
    left: 0px; 
    top: 0px; 
    width: 400px; 
    height: 200px;
}*/

.cert-showcase {
    clear:both;
    overflow:auto;
}

.cert-showcase-item {
    width:420px;
    padding:10px 20px 30px 0;
    float:left;
}

.cert-showcase-item div {
    padding:10px 0 0 0;
}

.cert-showcase-item a {
    text-decoration: none;
    font-size: 1.4em;
    color:#000;
    padding-top:20px;
}

.cert-showcase-item a:hover {
    color:darkorange;
}

.cert-showcase-item img {
    height:250px;
    width:420px;
    display:block;
}


.cert-showcase-small-item {
    width:280px;
    padding:10px 20px 30px 0;
    float:left;
}

.cert-showcase-small-item img {
    height:167px;
    width:280px;
    display:block;
}


/****************************************************************************************************************************************
***** Calligraphy styles
****************************************************************************************************************************************/

.callig-style-item {
    padding:20px;
    text-align:center;
    margin: 0 0 50px 0
}


.callig-style-item h2 {

}

/****************************************************************************************************************************************
***** Blog
****************************************************************************************************************************************/

.intro {
    padding: 20px 0 0 0;
}

.blog-filter {
    padding: 20px 0;
}

.blog-item {
    overflow:auto;
}

.blog-item-right {
    padding: 0 0 0 15px;
}

.blog-content {
    padding: 0 0 40px 0;
}

.blog-categories {
    margin: 25px 0 25px 0;
    overflow:auto
}

.blog-categories li, .category-filter {
    padding: 3px 5px 3px 6px;
    margin: 0 10px 0 0;
    background:#606060;
}

.blog-categories li a, .category-filter a {
    color:#fff;
    text-decoration:none;
}

.blog-categories li a:hover, .category-filter a:hover {
    color:darkorange;
}

.blog-image {
    float:left;
    margin: 0 20px 0 0;
}

/******************************************************************************************************************************************
*** Login page
******************************************************************************************************************************************/

.center-me {
  margin: 0 auto;
  padding-top: 10%;
  width:300px;
  height:200px;
}

.editor-label {
    padding:5px;
}

.editor-field{
    padding:5px;
}

.login-box {
  position: relative;
  background: white;
  height: 200px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  resize: both;
  overflow: auto;
}

main div {
  background: black;
  color: white;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
}

/******************************************************************************************************************************************
*** Main site styles
******************************************************************************************************************************************/


/*a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #2091FF;}

a:hover
{ text-decoration: underline;
  color: #5D5D5D;}*/


#main, #header, #banner, #menubar, /*#site_content,*/ #container_header
{ 
    margin-left: auto; 
    margin-right: auto;
}

#main
{ width: 920px;
  background: #FFF;
  padding-bottom: 20px;
}

#header
{ background: transparent;
  width: 880px;
  padding: 8px 0 0 0;}

#banner
{ width: 880px;
  position: relative;
  height: 250px;

  background: #FFF url(/Content/Images/Logo1880x250.jpg) no-repeat;}

#menubar
{ width: 880px;
  height: 35px;
  margin: 0 auto;
  background: #FFF;
  color: #000;} 

/*#site_content
{ width: 880px;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  background: #FFF;}*/ 

.sidebar_container
{ float: right;
  width: 224px;
  margin-top: 18px;
  padding: 0;}

.sidebar_top
{ float: left;
  width: 224px;
  height: 15px;
  background: url(/Content/Images/side_top.png) no-repeat;}

.sidebar_base
{ float: left;
  width: 224px;
  height: 15px;
  background: url(/Content/Images/side_base.png) no-repeat;}

.sidebar
{ float: right;
  width: 400px;
  padding: 0;
  background: url(/Content/Images/side_back.png) repeat-y;
  margin-bottom: 20px;}

.sidebar p
{ font-size: 95%;}

.sidebar li.selected, .sidebar li:hover
{ 
    color: #5D5D5D;
    text-decoration: ssss;
}

.sidebar_item
{ padding: 0 0 0 15px;
  width: 201px;}

.sidebar_item h1
{ padding: 20px 0 10px 0;
  margin: 0;}

/*.content_item
{ width: 880px;
  margin-bottom: 20px;}

#content
{ text-align: left;
  width: 880px;
  padding: 0;
  margin: 0 auto;
  float: left;}*/

#container_header
{ margin-top: 20px;
  height: 15px;
  width: 920px;
  background: transparent url(/Content/Images/container_header.png) repeat-x top;}  


/******************************************************************************************************************************************
*** Footer styles
******************************************************************************************************************************************/

#footer {  
    color:#fff;
}

#footer li a {
    color: #fff;
    text-decoration:none;
}

#footer li a:hover {
    color: darkorange;
}

#footer li {
    display:inline;
    padding: 0 10px 0 0;
}

.footer-nav {
    margin-left: auto; 
    margin-right: auto;
}

.footer-top {
    background-color:#AE9D83;
    height:10px;
}

.footer-middle {
    padding: 20px 0 20px 0;
    background-color:#606060;
}

.footer-bottom {
    padding:10px;
    background-color:#282a2b;
    text-align:center;
}

.footer-bottom-nav {
    width:880px;
    margin-left: auto; 
    margin-right: auto;
}

/*  
#container_footer
{ 
  height: 20px;
  width: 920px;
  background: transparent url(/Content/Images/container_footer.png) repeat-x top;
}
  
#footer
{ width: 880px;
  font: normal 115%;
  height: 35px;
  padding: 20px 0 5px 0;
  margin-bottom: -15px;
  text-align: center; 
  background: #488000 url(/Content/Images/footer.png) no-repeat bottom;
  color: #FFF;}

#footer a, #footer a:hover
{ color: #FFF;
  background: #488000;
  text-decoration: underline;}

#footer a:hover
{ 
    text-decoration: none;
}*/

/*ul.links
{ margin: 0;}

ul.links li
{ list-style: none;
  padding: 8px 0;}

ul.links li a, ul.links li a:hover
{ padding: 0 0 0 28px;
  background: transparent url(/Content/Images/page.png) no-repeat left center;
  color: #06C4E6;
  text-decoration: underline;} 

ul.links li a:hover
{ color: #5D5D5D;
  text-decoration: none;
}*/ 




/*#nav, #nav ul
{ float: left;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 35px;
  font: 115% helvetica;}
 
#nav a 
{ color: #43423F;
  display: block; 
  text-decoration: none;
  list-style-type: none;}
  
#nav li, #nav li.last  
{ float: left;
  border-right: 1px solid #FFF;
  display: block;
  padding: 0px 10px 0px 10px;
  margin: 0;
  height: 35px;}

#nav li.last
{ border-right: 0px;}
  
#nav li a, #nav li.last a {
  padding: 9px 0;
  text-align: center;  
  height: 15px;}

#nav li ul 
{ position: absolute;
  background: #7B7B7B;
  font: 100% arial;
  width: 100%;
  left: -999em;}
 
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul 
{ left: auto;}

#nav a:hover 
{ color: #FFF;}
 
#nav li:hover, #nav li.sfhover
{ background: #488000;}

#nav li li:hover
{ background: #488000;}

#nav li li 
{ border-bottom: 1px solid #FFF;
  width: 100%;
  padding: 0;
  display: block;
  float: left;
  height: auto;}

#nav li li a 
{ padding: 10px 43px 10px 43px;
  width: auto;
  height: auto;}

#nav li:hover, #nav li.hover 
{ position: static;}*/