@model Calligraphy.Models.ImageContentModel

<div class="@Model.CssClasses">
    @*<div class="image-container-heading">
        <h2>@Model.Title</h2>
    </div>*@
    <div>
        <img src="@Model.ImgUrl" />
    </div>
    <div class="image-container-bottom">
        <h2>Certificates</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et </div>
    </div>
</div>
<div>

</div>

