@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var contactImage = Umbraco.TypedMedia(CurrentPage.GetPropertyValue<int>("contactUsImage"));
}

<h1>@CurrentPage.Name</h1>
<div class="floatLeft">
    <img src="@contactImage.Url" />
</div>
<div class="floatLeft marginL20">
    @CurrentPage.contactUsDetails
</div>
<div class="clearBoth"></div>
