@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="/content/css/site.css" />
</head>
<body>
@Html.Partial("MemberLogin", new Calligraphy.Models.MemberLoginModel())

</body>
</html>

