@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Calligraphy.Models;

@{
    Layout = "Master.cshtml";
}

<div class="pricing">
    <div class="section-desc">
        <h1>@Model.Content.Name</h1>
        <div class="intro">
            @CurrentPage.pricingDescription
        </div>
        <hr />
    </div>
    <div class="clearBoth"></div>
    @Html.Partial("QuotationForm", new QuotationModel())
</div>
