<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT Calligraphy ANY>
<!ATTLIST Calligraphy id ID #REQUIRED>
<!ELEMENT ContactUs ANY>
<!ATTLIST ContactUs id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Main ANY>
<!ATTLIST Main id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1051" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-06-12T18:58:24" updateDate="2015-06-13T16:47:57" nodeName="Home" urlName="home" path="-1,1051" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="Home">
    <pageTitle><![CDATA[Calligraphy Home]]></pageTitle>
    <htmlMetaDescription><![CDATA[Calligraphy website]]></htmlMetaDescription>
    <htmlMetaKeywords><![CDATA[Calligraphy, Weddings, Marriage]]></htmlMetaKeywords>
    <hideFromTopNavigation>0</hideFromTopNavigation>
    <addToFooterNavigation>0</addToFooterNavigation>
    <mainContent><![CDATA[<p>hello!!</p>]]></mainContent>
    <Calligraphy id="1054" parentID="1051" level="2" creatorID="0" sortOrder="0" createDate="2015-06-13T14:40:43" updateDate="2015-06-13T16:47:53" nodeName="Calligraphy" urlName="calligraphy" path="-1,1051,1054" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1053" nodeTypeAlias="Calligraphy">
      <pageTitle><![CDATA[Calligraphy]]></pageTitle>
      <hideFromTopNavigation>0</hideFromTopNavigation>
      <addToFooterNavigation>0</addToFooterNavigation>
    </Calligraphy>
    <ContactUs id="1057" parentID="1051" level="2" creatorID="0" sortOrder="1" createDate="2015-06-13T16:17:22" updateDate="2015-06-13T16:47:50" nodeName="Contact Us" urlName="contact-us" path="-1,1051,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="ContactUs">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <hideFromTopNavigation>1</hideFromTopNavigation>
      <addToFooterNavigation>1</addToFooterNavigation>
      <introductionText><![CDATA[<p>Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text Some contact us text </p>]]></introductionText>
      <contactUsImage>1058</contactUsImage>
      <contactUsDetails><![CDATA[<p><strong>Telephone Number:</strong> 01234 123456</p>
<p><strong>Email:</strong> test@test.com</p>
<p><strong>Address:</strong> 123 Address Avenue, Address City, PO BOX 12345</p>]]></contactUsDetails>
    </ContactUs>
  </Home>
</root>