<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT ArticulateAuthors ANY>
<!ATTLIST ArticulateAuthors id ID #REQUIRED>
<!ELEMENT ArticulateAuthor ANY>
<!ATTLIST ArticulateAuthor id ID #REQUIRED>
<!ELEMENT Articulate ANY>
<!ATTLIST Articulate id ID #REQUIRED>
<!ELEMENT ArticulateMarkdown ANY>
<!ATTLIST ArticulateMarkdown id ID #REQUIRED>
<!ELEMENT ArticulateArchive ANY>
<!ATTLIST ArticulateArchive id ID #REQUIRED>
<!ELEMENT Blog ANY>
<!ATTLIST Blog id ID #REQUIRED>
 
<!ELEMENT BackOffice ANY>
<!ATTLIST BackOffice id ID #REQUIRED>
<!ELEMENT BackOfficeFolder ANY>
<!ATTLIST BackOfficeFolder id ID #REQUIRED>
<!ELEMENT CalligraphyStyle ANY>
<!ATTLIST CalligraphyStyle id ID #REQUIRED>
<!ELEMENT CalligraphyStyles ANY>
<!ATTLIST CalligraphyStyles id ID #REQUIRED>
<!ELEMENT Certificates ANY>
<!ATTLIST Certificates id ID #REQUIRED>
<!ELEMENT CertificatesHome ANY>
<!ATTLIST CertificatesHome id ID #REQUIRED>
<!ELEMENT ContactUs ANY>
<!ATTLIST ContactUs id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Main ANY>
<!ATTLIST Main id ID #REQUIRED>
<!ELEMENT Quotation ANY>
<!ATTLIST Quotation id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1051" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-06-12T18:58:24" updateDate="2015-09-25T15:57:01" nodeName="Home" urlName="home" path="-1,1051" isDoc="" nodeType="1050" creatorName="admin" writerName="admin" writerID="0" template="1049" nodeTypeAlias="Home">
    <pageTitle><![CDATA[Calligraphy Home]]></pageTitle>
    <htmlMetaDescription><![CDATA[Calligraphy website]]></htmlMetaDescription>
    <htmlMetaKeywords><![CDATA[Calligraphy, Weddings, Marriage]]></htmlMetaKeywords>
    <hideFromTopNavigation>0</hideFromTopNavigation>
    <addToFooterNavigation>0</addToFooterNavigation>
    <certificatesText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>]]></certificatesText>
    <calligraphyText><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>]]></calligraphyText>
    <caroselImages><![CDATA[2085,2086,2087,2088]]></caroselImages>
    <CertificatesHome id="1066" parentID="1051" level="2" creatorID="0" sortOrder="0" createDate="2015-09-09T15:30:56" updateDate="2015-09-25T03:44:40" nodeName="Certificates" urlName="certificates" path="-1,1051,1066" isDoc="" nodeType="1064" creatorName="admin" writerName="admin" writerID="0" template="1065" nodeTypeAlias="CertificatesHome">
      <pageTitle><![CDATA[Certificates]]></pageTitle>
      <hideFromTopNavigation>0</hideFromTopNavigation>
      <addToFooterNavigation>0</addToFooterNavigation>
      <introductionText><![CDATA[<p>We have the following certificates to offer:</p>]]></introductionText>
      <Certificates id="1062" parentID="1066" level="3" creatorID="0" sortOrder="1" createDate="2015-09-09T14:23:17" updateDate="2015-09-25T17:52:47" nodeName="Wedding Certificates" urlName="wedding-certificates" path="-1,1051,1066,1062" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="Certificates">
        <pageTitle><![CDATA[Wedding Certificates]]></pageTitle>
        <hideFromTopNavigation>0</hideFromTopNavigation>
        <addToFooterNavigation>0</addToFooterNavigation>
        <certificatesDescription><![CDATA[<p>Wedding Certificate description text</p>]]></certificatesDescription>
        <certificatesCaroselImages><![CDATA[2085,2087,2088,2086]]></certificatesCaroselImages>
        <certificatesImages><![CDATA[2085,2087,2088,2086]]></certificatesImages>
      </Certificates>
      <Certificates id="1063" parentID="1066" level="3" creatorID="0" sortOrder="2" createDate="2015-09-09T14:24:08" updateDate="2015-09-25T03:44:40" nodeName="Civil Ceremonies" urlName="civil-ceremonies" path="-1,1051,1066,1063" isDoc="" nodeType="1059" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="Certificates">
        <pageTitle><![CDATA[Civil Ceremonies]]></pageTitle>
        <hideFromTopNavigation>0</hideFromTopNavigation>
        <addToFooterNavigation>0</addToFooterNavigation>
        <certificatesDescription><![CDATA[<p>boom2</p>]]></certificatesDescription>
      </Certificates>
    </CertificatesHome>
    <CalligraphyStyles id="1054" parentID="1051" level="2" creatorID="0" sortOrder="1" createDate="2015-06-13T14:40:43" updateDate="2015-09-25T03:44:40" nodeName="Calligraphy Styles" urlName="calligraphy-styles" path="-1,1051,1054" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="CalligraphyStyles">
      <pageTitle><![CDATA[Calligraphy]]></pageTitle>
      <hideFromTopNavigation>0</hideFromTopNavigation>
      <addToFooterNavigation>0</addToFooterNavigation>
    </CalligraphyStyles>
    <ContactUs id="1057" parentID="1051" level="2" creatorID="0" sortOrder="2" createDate="2015-06-13T16:17:22" updateDate="2015-09-25T03:44:40" nodeName="Contact Us" urlName="contact-us" path="-1,1051,1057" isDoc="" nodeType="1055" creatorName="admin" writerName="admin" writerID="0" template="1056" nodeTypeAlias="ContactUs">
      <pageTitle><![CDATA[Contact Us]]></pageTitle>
      <hideFromTopNavigation>1</hideFromTopNavigation>
      <addToFooterNavigation>1</addToFooterNavigation>
      <contactUsImage>1058</contactUsImage>
      <contactUsDetails><![CDATA[<p><strong>Telephone Number:</strong> 01234 123456</p>
<p><strong>Email:</strong> test@test.com</p>
<p><strong>Address:</strong> 123 Address Avenue, Address City, PO BOX 12345</p>]]></contactUsDetails>
    </ContactUs>
    <Quotation id="1085" parentID="1051" level="2" creatorID="0" sortOrder="3" createDate="2015-09-25T03:42:19" updateDate="2015-09-25T03:44:40" nodeName="Quotation" urlName="quotation" path="-1,1051,1085" isDoc="" nodeType="1083" creatorName="admin" writerName="admin" writerID="0" template="1084" nodeTypeAlias="Quotation">
      <pageTitle><![CDATA[Quotation]]></pageTitle>
      <hideFromTopNavigation>0</hideFromTopNavigation>
      <addToFooterNavigation>0</addToFooterNavigation>
    </Quotation>
    <Blog id="4084" parentID="1051" level="2" creatorID="0" sortOrder="4" createDate="2015-11-02T17:24:39" updateDate="2015-11-02T17:24:59" nodeName="Blog" urlName="blog" path="-1,1051,4084" isDoc="" nodeType="3103" creatorName="admin" writerName="admin" writerID="0" template="3102" nodeTypeAlias="Blog">
      <pageTitle><![CDATA[Blog]]></pageTitle>
      <hideFromTopNavigation>0</hideFromTopNavigation>
      <addToFooterNavigation>0</addToFooterNavigation>
    </Blog>
  </Home>
  <BackOffice id="1070" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2015-09-18T16:23:08" updateDate="2015-09-18T16:23:08" nodeName="Back Office" urlName="back-office" path="-1,1070" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BackOffice">
    <BackOfficeFolder id="1074" parentID="1070" level="2" creatorID="0" sortOrder="0" createDate="2015-09-18T16:29:31" updateDate="2015-09-18T16:29:31" nodeName="Calligraphy Styles" urlName="calligraphy-styles" path="-1,1070,1074" isDoc="" nodeType="1073" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="BackOfficeFolder">
      <CalligraphyStyle id="1075" parentID="1074" level="3" creatorID="0" sortOrder="0" createDate="2015-09-18T16:31:18" updateDate="2015-09-18T17:09:53" nodeName="Style 1" urlName="style-1" path="-1,1070,1074,1075" isDoc="" nodeType="1071" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="CalligraphyStyle">
        <styleDescription><![CDATA[<p>This is the text description of style 1</p>]]></styleDescription>
        <styleImage>1077</styleImage>
        <styleName><![CDATA[Style 1]]></styleName>
      </CalligraphyStyle>
    </BackOfficeFolder>
    <Articulate id="3097" parentID="1070" level="2" creatorID="0" sortOrder="1" createDate="2015-11-02T15:39:22" updateDate="2015-11-02T17:59:05" nodeName="Blog" urlName="blog" path="-1,1070,3097" isDoc="" nodeType="3090" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="Articulate">
      <blogTitle><![CDATA[Articulate Blog]]></blogTitle>
      <blogDescription><![CDATA[Welcome to my blog]]></blogDescription>
      <pageSize><![CDATA[10]]></pageSize>
      <categoriesPageName><![CDATA[Categories]]></categoriesPageName>
      <categoriesUrlName><![CDATA[categories]]></categoriesUrlName>
      <tagsPageName><![CDATA[Tags]]></tagsPageName>
      <tagsUrlName><![CDATA[tags]]></tagsUrlName>
      <searchPageName><![CDATA[Search results]]></searchPageName>
      <searchUrlName><![CDATA[search]]></searchUrlName>
      <theme><![CDATA[Shazwazza]]></theme>
      <blogLogo><![CDATA[{
  "focalPoint": {
    "left": 0.51648351648351654,
    "top": 0.43333333333333335
  },
  "src": "/media/articulate/default/capture3.png",
  "crops": []
}]]></blogLogo>
      <blogBanner><![CDATA[{
  "focalPoint": {
    "left": 0.35,
    "top": 0.29588014981273408
  },
  "src": "/media/articulate/default/7406981406_1aff1cb527_o.jpg",
  "crops": []
}]]></blogBanner>
      <extractFirstImage>1</extractFirstImage>
      <ArticulateArchive id="3098" parentID="3097" level="3" creatorID="0" sortOrder="2" createDate="2015-11-02T15:39:22" updateDate="2015-11-02T17:59:05" nodeName="Archive" urlName="archive" path="-1,1070,3097,3098" isDoc="" nodeType="3091" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ArticulateArchive">
        <ArticulateMarkdown id="3101" parentID="3098" level="4" creatorID="0" sortOrder="1" createDate="2015-11-02T15:39:24" updateDate="2015-11-02T18:08:00" nodeName="Test post" urlName="test-post" path="-1,1070,3097,3098,3101" isDoc="" nodeType="3095" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ArticulateMarkdown">
          <author><![CDATA[Demo author]]></author>
          <excerpt><![CDATA[Hi! Welcome to blogging with Articulate :) This is a fully functional blog engine supporting many features.]]></excerpt>
          <categories><![CDATA[TestCategory]]></categories>
          <tags><![CDATA[TestTag]]></tags>
          <publishedDate>2015-11-02T15:39:24</publishedDate>
          <enableComments>0</enableComments>
          <markdown><![CDATA[Hi! Welcome to Articulate :)

This is a fully functional blog engine supporting many features:

* Categories & Tags
* Themes
* Live Writer support
* Markdown support
* Easily post from your mobile phone including adding images and photos direct from you camera
* Disqus, Google+ or Facebook comment support
* Search
* Blogml import/export
* RSS
* Customizable urls
* Author profiles

Articulate is open source and hosted on GitHub:
[https://github.com/Shandem/Articulate/](https://github.com/Shandem/Articulate)

It comes with 4 themes which have different features enabled. You can easily change themes on the root Articulate node on the style tab. Themes are super easy to create and in fact the 4 themes shipped with Articulate are MIT licensed themes originally built for the Ghost blogging platform.

Comments are powered by Disqus (Google+ or Facebook are also supported and can be enabled in the templates).

Live Writer integration is fully functional, to configure Live Writer just use the URL of the Articulate root node and use your Umbraco username/password.

You can post directly from your mobile (including images and photos). This editor can be found at the path of "/a-new". As an example if Articulate is your root node in Umbraco, then the URL would be:

http://yoursiteurl.com/a-new

Enjoy!]]></markdown>
        </ArticulateMarkdown>
      </ArticulateArchive>
      <ArticulateAuthors id="3099" parentID="3097" level="3" creatorID="0" sortOrder="3" createDate="2015-11-02T15:39:22" updateDate="2015-11-02T17:59:05" nodeName="Authors" urlName="authors" path="-1,1070,3097,3099" isDoc="" nodeType="3093" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ArticulateAuthors" />
    </Articulate>
  </BackOffice>
</root>